html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 5rem;
}

header > a {
    margin-right: 1rem;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.5rem;
    width: 2.5rem;
    margin: 0rem 0.5rem;
    border-radius: 100%;
}

header > div:hover {
    background-color: rgb(231, 231, 231);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 30rem;
}

#search-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin: 4rem 0rem;
    width: 50rem;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 1rem;
}

#search-line input {
    flex-grow: 1;
    border: none;
}

#search-line input:focus {
    border: none;
    outline: none;
}

#magic-buttons button {
    width: 12rem;
    height: 4rem;
    background-color: rgb(245, 245, 245);
}

#magic-buttons button:hover {
    border:1px solid rgb(189, 189, 189);
    border
}

#change-lang {
    margin: 2rem 0rem;
    display: flex;
    align-items: center;
}

#change-lang a {
    margin-left: 1rem;
    color: blue;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 9rem; */
    background-color: rgb(245, 245, 245);
    line-height: 4rem;
    color: rgb(90, 90, 90);
}

footer > div {
    height: 50%;
}

#footer-1 {
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
    padding-left: 3rem;
}

#footer-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 3rem;
}

#footer-2 > div > a {
    padding: 0rem 1rem;
    color: rgb(90, 90, 90);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ico {
    height: 2rem;
}

main button {
    height: 2rem;
    width: 8rem;
    margin: 0rem 0.5rem;
    border: none;
    outline: none;
}